em{
    color: red;
    background-color: yellow
}

h1{
    color: purple
}
strong{
    color: rgb(52, 30, 80)
}

.classA{
    color: orange;
    font-size: 20px
}

.classA{
    color: teal;
    font-size: 40px
}

.b{
    color: greenyellow
}

.a{
    font-size: 26px;
    color: dodgerblue
}